.task {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  padding-top: .4rem;
  // max-height: 72px;
  text-overflow: clip;
  background-color: var(--bg-two-01);
  border: 1px solid var(--bg-one-100);
  box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.06);
  border-radius: 8px;
  width: 16rem;
  height: 10rem;
  position: relative;

  .tag {
    width: 1.5rem;
    // width: 6%;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: .6rem;
    top: .6rem;
    color: yellow;
    transition: .2s;

    &:hover {
      color: rgb(180, 180, 0);
    }
  }

  .ok {
    width: 1.5rem;
    // width: 6%;
    height: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    right: .6rem;
    bottom: .6rem;

    span {
      display: flex;
      background-color: transparent;
      border: 3px solid var(--bg-three);
      height: 20px;
      width: 20px;
      border-radius: 50%;
      color: transparent;
      align-items: center;
      justify-content: center;

      transition: .2s;
    }
  }

  .text {
    display: flex;
    justify-content: center;
    width: 92%;
    height: 100%;
    overflow: scroll;
    -ms-overflow-style: none; // IE and Edge
    scrollbar-width: none; // Firefox

    //Chrome
    &::-webkit-scrollbar {
      display: none;

    }

  }

  .textTitle {
    width: 92%;
    height: 3rem;
    font-size: 1.2rem;
    max-height: 2rem;
    white-space: nowrap;
    overflow: scroll;
    -ms-overflow-style: none; // IE and Edge
    scrollbar-width: none; // Firefox

    //Chrome
    &::-webkit-scrollbar {
      display: none;

    }
  }



  .delete {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 1.5rem;
    height: 1.5rem;
    color: var(--text-special);
    position: absolute;
    right: .6rem;
    bottom: 2.6rem;


    button {
      display: flex;
      align-items: center;
      justify-content: center;

      transition: .2s;

      &:hover {
        color: var(--hover)
      }
    }
  }

  &.completed {
    // color: var(--bg-special);
    filter: opacity(0.3);

    &:hover {
      // filter: opacity(.6);

    }

    .ok {
      span {
        background-color: var(--bg-three);
        color: var(--text-one);
      }

      span:hover {
        border: 2px solid var(--link);
      }
    }
  }

  &:not(.completed) {
    .ok {
      span:hover {
        background-color: var(--bg-three-06);
      }
    }
  }
}

.task {
  @media(max-width: 480px) {
    width: 100%;
    height: fit-content;
    max-height: 7rem;

    // .delete,
    // .ok {
    //   scale: 80%;
    // }
  }
}