.main {
  min-height: 90vh;
  padding: 1rem 1rem;
  margin: 1rem auto;

  flex-direction: column;
  justify-content: center;
  align-items: center;
  // font-family: Merienda, Source Sans Pro;
  text-align: center;

  h2 {
    color: skyblue;
  }
}