.ticker {
    overflow: hidden;
    width: 90%;
    padding-bottom: 10px;
    left: 0;
    margin: auto;
  }
  
  .tickerNews {
    width: 7000px;
    padding: 10px 0;
    color: var(--text-one-06);
    font-size: 2rem;
    font-family: sans-serif;
    
  }
  
  .tickerNews > * {
    display: inline-block;
    animation: news 30s infinite linear;
  }
  
  @keyframes news {
    0% {transform: translateX(0);}
    100% {transform: translateX(-1400px);}
  }

.tickerSpan:hover {
  color: var(--text-special)
}

.ticker::before {
  position: absolute;
  height: 4rem;
  left: 6vw;
  right: 6vw;
  content: "";
  background: linear-gradient(to right,
    var(--bg-one) 6%, 
    var(--bg-one-00) 25% 75%,
    var(--bg-one) 94% 100%
  );

  // background: linear-gradient(to right,
  //    rgba(0, 0, 255, 0.199) 10%, 
  //    rgba(255, 0, 0, 0.267) 10% 50%,
  //    rgba(255, 255, 0, 0.144) 50% 90%,
  //    rgba(0, 128, 0, 0.116) 90% 100%
  // );
  pointer-events: none;
  z-index: 1; 
}