.footerContainer {
  margin: 0 auto;
  padding: 0.6rem 0;
  border-top: 1px solid var(--bg-one-100);
  justify-content: center;
  align-items: center;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  color: var(--text-one);
  background-color: var(--bg-one);
  // min-height: 100px;

  p,
  div {
    margin: auto;
    width: fit-content;
  }
}

// .footerContent {
//   margin: 0 auto;
//   width: fit-content;
// }

.logo {
  height: 1em;
  margin-left: 0.5rem;
  display: flex;
  gap: 1rem;
  justify-content: space-between;
  width: 2.5rem;
}