.requestContainer {
    display: flex; 

    table {
        width: 100%;
        border-spacing: 0 .5rem;
        overflow: hidden;
        
    }
    th {
        color: green;
        font-weight: 400;
        padding: 1rem 1rem;
        text-align: left;
        line-height: 1.5rem;
        background: yellow;
        
        
        &:nth-of-type(1) {
            width: 40%;
        }
        &:nth-of-type(2) {
            width: 10%;
        }
        &:nth-of-type(3) {
            width: 10%;
        }
        &:nth-of-type(4) {
            width: 20%;
        }
        &:nth-of-type(5) {
            width: 20%;
        }
    }

    tr {
        background: #f8fffd;
        box-shadow: 0 1px 5px -2px #49494db2;

    }
    tr:nth-of-type(even) {
        background: #dffff7;
    }
    td {
        padding: 1.4rem 1rem;
        border: 0;
        

        &:first-child {
            color: black;
            border-top-left-radius: .25rem;
        }
        &.deposit {
            color: green;
        }
        &.withdraw {
            color: red;
        }
    }
}