:root {

  --bg-one: #ffffff;
  --bg-two: #000000;
  --bg-one-00: #ffffff00;
  --bg-one-100: #eaeaea;
  --link: #0070f3;

  --hover: #ff4858;

  --text-one: #412261;
  --text-one-06: #41226198;
  --text-two: white;
  --text-special: #FA1368;
  --text-special-two: #9d0a0e;

}

[data-theme='dark'] {
  --bg-one: #21212B;
  --bg-two: #AAAABB;
  --bg-one-00: #21212B00;
  --bg-one-100: #eaeaea;
  
  --link: #0070f3;

  --hover: #ff4858;

  --text-one: #cfc7c7;
  --text-one-06: #cfc7c798;
  
  --text-two: rgb(24, 19, 19);
  --text-special: #c40847;
  --text-special-two: #9d0a0e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-one);
  background-color: var(--bg-one);
}

body, input, select, textarea, button {
  font: 400 1rem 'Source Sans Pro', serif;
}

a {
  color: var(--link);
  text-decoration: none;
}
    
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

button {
  cursor: pointer;
}

@media (max-width: 1080px) {
  html{
    font-size: 15/16 * 100%;
  }
}

@media (max-width: 720px) {
  html{
    font-size: 14/16 * 100%;
  }
}

@media (max-width: 600px) {
  html{
    font-size: 13/16 * 100%;
  }
}