:root {

  --bg-one: #fcfcf4;
  --bg-one-100: #eaeaea;
  --bg-one-00: #ffffff00;

  --bg-two: #221a26;
  --bg-two-100: #221a26;

  --bg-special: #ededfd;

  --link: #0070f3;

  --hover: #ff4858;

  --text-one: #412261;
  --text-one-06: #41226198;
  --text-two: white;

  --text-special: #FA1368;
  --text-special-01: rgb(250, 19, 104, 0.04);


  --text-special-two: #9d0a0e;

}

[data-theme='dark'] {
  --bg-one: #21212B;
  --bg-one-00: #21212B00;
  --bg-one-100: #2d2d36;
  
  --bg-two: #AAAABB;
  --bg-special: #AAAABB;

  --bg-two-01: rgba(170, 170, 187, 0.1);

  --link: #0070f3;

  --hover: #ff4858;

  --text-one: #cfc7c7;
  --text-one-06: #cfc7c798;
  
  --text-two: rgb(24, 19, 19);

  --text-special: #c40847;
  --text-special-01: rgba(196, 8, 71, 0.1);

  --text-special-two: #9d0a0e;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  color: var(--text-one);
  background-color: var(--bg-one);
}

body, input, select, textarea, button {
  font: 400 1rem 'Source Sans Pro', serif;
}

a {
  color: var(--link);
  text-decoration: none;
}
    
a:hover,
a:focus,
a:active {
  text-decoration: none;
}

button {
  cursor: pointer;
}

@media (max-width: 1080px) {
  html{
    font-size: 15/16 * 100%;
  }
}

@media (max-width: 720px) {
  html{
    font-size: 14/16 * 100%;
  }
}

@media (max-width: 600px) {
  html{
    font-size: 13/16 * 100%;
  }
}