// .container{}

.main {
  min-height: 90vh;
  padding: 1rem 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // font-family: Merienda, Source Sans Pro;
}